<% if (summary.playerStatSummaries) { %>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <% summary.playerStatSummaries.forEach((summary,i) => { %>
                <% if (i==0) { %>
                    <li class="active">
                <% } else { %>
                    <li>
                <% } %>
                    <a href="#summary_<%=i%>" data-toggle="tab"><%= summary.playerStatSummaryType %></a>
                </li>
            <% }) %>
        </ul>

        <div class="tab-content">
            <% summary.playerStatSummaries.forEach((summary,i) => { %>
                <% if (i==0) { %>
                    <div role="tabpanel" class="tab-pane active" id="summary_<%= i %>">
                <% } else { %>
                    <div role="tabpanel" class="tab-pane" id="summary_<%= i %>">
                <% } %>
                    <pre><%= JSON.stringify(summary, null, 4) %></pre>
                </div>
            <% }) %>
        </div>
    </div>
<% } else { %>
    <div>No summary</div>
<% } %>
